body {
    color: #484848;
    font-family: Circular;
}

/* Navbar */

.navbar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid grey;
    margin: 0 !important;
    border: none;
}

.navbar p {
    line-height: 60px;
    margin: 0;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #FF5A5F;
}

i {
    padding-right: 5px; 
}


.navbarRight {
  margin-right: 50px;
  padding: 10px 0;
}

.navbarLinks{
    margin: 0 10px 0 0;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border: none;
    background: transparent;
}

.logoutBtn {
    margin: 0 10px 0 0;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}

/* General */

.container {
    padding-top: 30px;
}



.segmentTitle {
    font-size: 22px;
    font-weight: bold;
}


.pollItem {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    text-align: center;
    color: #484848;
    font-size: 18px;
    margin-bottom: 3px;
}

.pollItem:hover{
    background: #FF5A5F;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.inputNew {
    display: block;
    width: 300px;
    margin-bottom: 5px;
}

.btn-pink {
    background: #FF5A5F;
    color: #fff;
}

.addOp {
    display: block;
    border: none;
    background: transparent;
    color: blue;
    margin: 10px 0;
}

.footer {
    margin: 100px auto 0;
    width: 500px;
}

/* Index */

.jumbotron {
  background-color: #2596b4;
  padding: 0;
  width: 100%;
}

.about {
    margin: 0;
    width: 100%;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
}

.about h1 {
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.about p {
    font-size: 36px;
    color: #fff;
    margin-top: 30px;
    max-width: 70%;
}


.recent {
    margin-top: 50px;
}

/* New */

#newPoll p{ 
    margin-top: 15px;
}

#inputNewSub {
    margin-top: 30px;
}

/* Poll */ 

.inputCont * {
    display: inline-block;
}

#addVoteBtn {
    margin-left: 10px;
}

.fb-share-button {
    margin-top: 50px;
}

#voteBtn {
    margin-top: 20px;
}

#deleteBtn {
    display: block;
    margin: 20px auto 0;
}

.pollHeader {
    margin-bottom: 30px;
}

.formCont, .canvasCont {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 400px;
}

.formCont {
    float: left;
    padding: 50px 0 0 50px;
}

.canvasCont {
    float: right;
} 

#myChart {
    width: 400px !important;
	height: 400px !important;
    margin: auto;
}

#voteNew {
    display: none;
}