html
    head
        title Social Polls - Create a Free Poll in Seconds
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel='stylesheet', href='/css/style.css')
        script(src="https://use.fontawesome.com/a23e082358.js")
        script(src='/js/script.js')
    body
        - if (!auth) {
        .navbar
            .navbarLeft.pull-left
                p
                    i.fa.fa-check-square-o
                    | Social Polls
            .navbarRight.pull-right
                a.btn.btn-default.navbarLinks(href='/') Home
                a.btn.btn-primary(href='/auth/facebook')
                    i.fa.fa-facebook
                    |  Sign in with Facebook
        - } else {
        #navbarAuth.navbar
            .navbarLeft.pull-left
                p
                    i.fa.fa-check-square-o
                    | Social Polls
            .navbarRight.pull-right
                a.btn.btn-default.navbarLinks(href='/') Home
                a.btn.btn-default.navbarLinks(href='/new') New Poll
                a.btn.btn-default.navbarLinks(href='/mypolls') My Polls
                a.btn.btn-danger.logoutBtn(href='/logout') Logout
        - }
        .container
            .about
                h1 Create a Free Poll in Seconds.
                p Social Polls is a free tool for creating</br>intuitive and easy-to-use polls that you can share</br>with your friends on Facebook.
            .recent
                h2.segmentTitle Recent Polls
                - for (var i=0;i<polls.length;i++) {
                a.pollItem(href='/polls/'+polls[i].id) #{polls[i].name}
                - }
        .footer
            p
                | This Social Polls app was built by 
                a(href='https://github.com/Theeeus', target='_blank') @Theeeus
                |  for Free Code Camp.
            p
                | It is available at the following Github repository: 
                a(href='https://github.com/Theeeus/voting-app', target='_blank') Theeeus/voting-app