html
    head
        title My Polls | Social Polls
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel='stylesheet', href='/css/style.css')
        script(src="https://use.fontawesome.com/a23e082358.js")
        script(src='/js/script.js')
    body
        #navbarAuth.navbar
            .navbarLeft.pull-left
                p
                    i.fa.fa-check-square-o
                    | Social Polls
            .navbarRight.pull-right
                a.btn.btn-default.navbarLinks(href='/') Home
                a.btn.btn-default.navbarLinks(href='/new') New Poll
                a.btn.btn-default.navbarLinks(href='/mypolls') My Polls
                a.btn.btn-danger.logoutBtn(href='/logout') Logout
        .container
            h1.segmentTitle Minhas enquetes
            - for (var i=0;i<polls.length;i++) {
            a.pollItem(href='/polls/'+polls[i].id) #{polls[i].name}
            - }
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-93782104-2', 'auto');
            ga('send', 'pageview');